{{>header}}
<h1>{{ title }}</h1>
<form class="form">
    <div class="form-group">
        <div class="row">
            <div class="col-10">
                <input type="text" class="form-control" placeholder="Location"/>
            </div>
            <div class="col-2">
                <button class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>
<p></p>
{{>footer}}